@charset "euc-kr";

/*
    파일 개요
    ---------------------------------------------------------------------
    @ 목적 : [한밭대 산학협력 플랫폼] 공통 컴포넌트(부품) 정의.
    @ 작성 : GRIDA Publishing Team.
    @ 최종 : 2023.12.19.10:00
    @ 메모 : -
*/

/*
[●] Layout-Row-Col
[●] Data-Table
[●] TD-ITEM-GROUP (가로배치 도우미)
[●] Pagi
[●] Pannel
[●] Txt&Tit
[●] List
[●] Form 
    [●] Input-Text, Email, Passworld
    [●] Input-Check
    [●] Input-Radio
    [●] Select

[●] Badge (Chip)
[●] Breadcrumb
[●] Icon
[●] Buttons, Button group
[●] Tab
[●] Accordion
[●] Popup
[●] Toast
*/

/* Layout-Row-Col */
.layout {
    position: relative;
    display: block;
}
.layout .row {
    display: block;
    font-size: 0;
}
.layout .row .col {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    font-size: 13px;
}
.layout .row .col.col-10 {width: 100%;}
.layout .row .col.col-9 {width: 90%;}
.layout .row .col.col-8 {width: 80%;}
.layout .row .col.col-7 {width: 70%;}
.layout .row .col.col-6 {width: 60%;}
.layout .row .col.col-5 {width: 50%;}
.layout .row .col.col-4 {width: 40%;}
.layout .row .col.col-3 {width: 30%;}
.layout .row .col.col-2 {width: 20%;}
.layout .row .col.col-1 {width: 10%;}
.layout .row.three .col:nth-of-type(1) {width: 33.33%;}
.layout .row.three .col:nth-of-type(2) {width: 33.33%;}
.layout .row.three .col:nth-of-type(3) {width: 33.34%;}
.layout .row.liquid {
    display: flex;
}
.layout .row.liquid .col-auto {
    /*GSB*/
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

/* Data-Table */
.data-table-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    table-layout: fixed;
}
.data-table {
    border: 1px solid #e3e3e3;
    border-top: 1px solid #111;
    width: 100%;
}
.data-table caption {
    position: absolute;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
.data-table th,
.data-table td {
    text-align: left;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    font-size: 13px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 28px;
}

.data-table tbody tr:last-of-type td,
.data-table tbody tr:last-of-type th {
    border-bottom: 0;
}
.data-table thead tr th:last-of-type,
.data-table tbody tr td:last-of-type,
.data-table tbody tr th:last-of-type {
    border-right: 0;
}
.data-table thead th {
    border-bottom: 1px solid #e3e3e3;
    background: #f9fafc;
    /* height: 27px; */
    /* height: 31px; */
}
.data-table th {
    font-weight: 600;
    font-size: 13px;
    color: #333;
    vertical-align: top;
}
.data-table th.merged {
    vertical-align: top;
    padding-top: 16px;
}
.data-table thead th {
    padding-top: 0;
    vertical-align: middle;
}
.data-table tfoot td {
    background: #f9fafc;
    border-top: 1px solid #ededed;
}
.data-table td {
    font-weight: 500;
    font-size: 13px;
    color: #666;
    line-height: 1.38;
}
.data-table th.required {
    position: relative;
}
.data-table th.required:after {
    position: relative;
    top: -6px;
    right: -5px;
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #ff404e;
    border-radius: 50%;
}
.data-table tr.active>td {
    background: #eaf5fa;
}
e
.data-table th .ip-ch-label.no-txt,
.data-table td .ip-ch-label.no-txt {
    margin-bottom: -3px;
}


.data-table.form-table {
    /* table-layout: fixed; */ /*부모 width 뚫는 현상때문에 삭제.*/
}
.data-table.form-table th,
.data-table.form-table td {
    /* height: 35px; */
    border-left: 0;
    border-right: 0;
    vertical-align: middle;
}
.data-table.form-table th {
    background: #f9fafc;
    /* line-height: 1.38; */
}
.data-table.form-table td {
    font-weight: 400;
}
.td-item-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.td-item-group.left {
    justify-content: start;
}
.td-item-group.center {
    justify-content: center;
}
.td-item-group.right {
    justify-content: end;
}
.td-item-group.top {
    align-items: flex-start;
}
.td-item-group.gap0 {gap: 0px;}
.td-item-group.gap1 {gap: 1px;}
.td-item-group.gap2 {gap: 2px;}
.td-item-group.gap3 {gap: 3px;}
.td-item-group.gap4 {gap: 4px;}
.td-item-group.gap5 {gap: 5px;}
.td-item-group.gap6 {gap: 6px;}
.td-item-group.gap7 {gap: 7px;}
.td-item-group.gap8 {gap: 8px;}
.td-item-group.gap12 {gap: 12px;}
.td-item-group.gap16 {gap: 16px;}
.td-item-group.gap24 {gap: 24px;}
.td-item-group>.td-item {
    margin-left: 0 !important;
}
.td-item-group>.td-item .badge {
    margin-left: 0 !important;
}
.td-item-group>.td-item.grow {
    flex-grow: 1;
}

.data-table-wrap {
    /* max-width: 1035px; */
    overflow-x: auto;
    overflow-y: hidden;
}
.data-table-wrap>table {
    /* min-width: 1035px; */
    white-space: nowrap;
}

.data-table-wrap-y {
    overflow-y: auto;
    border-top: 1px solid #111;
}
.data-table-wrap-y>table {
    border-top: 0;
}
.data-table-wrap-y>table>thead>tr>th {
    position: sticky;
	top: 0;
    z-index: 10;
}
.data-table-wrap-y>table>tfoot>tr>td {
    position: sticky;
	bottom: 0px;
    z-index: 10;
}

/*data-table-wrap-y로 잘 안되서 새롭게 만듬.*/
.data-table-wrap-fileUpload {
    border: 1px solid #e3e3e3;
    border-top: 1px solid #111;
    overflow: hidden;
}
.data-table-wrap-fileUpload .file-thead {
    border: 0;
}
.data-table-wrap-fileUpload .file-thead thead th {
    padding: 0 12px;
}
.data-table-wrap-fileUpload .file-tbody {
    border-top: 0;
}
.data-table-wrap-fileUpload .file-tbody .data-table {
    border: 0;
}
.data-table-wrap-fileUpload .file-tbody .data-table td {
    height: 30px;
    /* padding: 7px; */
    padding: 0 12px;
    border: 0;
    /* border-bottom: 1px solid red; */
}
.data-table-wrap-fileUpload .file-tbody .data-table td label {
    position: relative;
    top: -1px;
}
.data-table-wrap-fileUpload .file-tbody .data-table td  {

}
.data-table-wrap-fileUpload .file-tbody.no-data {
    background: url(../img/icon/ic_images_black_24.svg) no-repeat 50% 50%;
    border: 0;    
}
.data-table-wrap-fileUpload .file-tfoot {
    border-top: 1px solid #e3e3e3;
    background: #f9fafc;
    height: 28px;
    padding: 4px 12px;
    box-sizing: border-box;
}



.data-table.no-bd {
    border-top: 0;
    border-bottom: 0;
}
.data-table tr.no-bd td,
.data-table tr.no-bd th {
    border-bottom: 0;
}
.data-table.no-bdt {
    border-top: 0;
}
.data-table.no-bdb {
    border-bottom: 0;
}
.data-table tr.no-pd td,
.data-table tr.no-pd th {
    padding: 0;
}
.data-table tr.no-pt td,
.data-table tr.no-pt th {
    padding-top: 0;
}

/* Pagi */
.pagi {
    font-size: 0;
    text-align: left;
}
.pagi .group {
    display: inline-block;
}
.pagi .group:nth-of-type(1) {
    margin-right: 4px;
}
.pagi .group:nth-of-type(3) {
    margin-left: 4px;
}
.pagi .group .item {
    font-size: 12px;
    border: 0;
    color: #ccc;
    font-weight: 600;
    background: none;
    height: 24px;
    min-width: 24px;
    cursor: pointer;
    margin-right: 4px;
}
.pagi .group .item:hover,
.pagi .group .item.active {
    color: #3a6c98;
    background-color: #f1f7fc;
}
.pagi .group .item.first,
.pagi .group .item.prev,
.pagi .group .item.last,
.pagi .group .item.next {
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    border-bottom: 0;
}

.pagi .group .item {
    background: no-repeat 50% 50%;
}
.pagi .group .item.first {background-image: url(../img/icon/ic_arrow_back_gray_12.svg);}
.pagi .group .item.prev {background-image: url(../img/icon/ic_arrow_left_gray_12.svg);}
.pagi .group .item.next {background-image: url(../img/icon/ic_arrow_right_gray_12.svg);}
.pagi .group .item.last {background-image: url(../img/icon/ic_arrow_forward_gray_12.svg);}
.pagi .group .item.first:hover {background-image: url(../img/icon/ic_arrow_back_blue_12.svg);}
.pagi .group .item.prev:hover {background-image: url(../img/icon/ic_arrow_left_blue_12.svg);}
.pagi .group .item.next:hover {background-image: url(../img/icon/ic_arrow_right_blue_12.svg);}
.pagi .group .item.last:hover {background-image: url(../img/icon/ic_arrow_forward_blue_12.svg);}

/* Pannel */
.pn {
    position: relative;
    border: 1px solid #e3e3e3;
    border-bottom: 0;
    border-radius: 4px;
}
.pn .pn-con {
    /* padding: 22px 19px; */
    padding: 16px;
    border-bottom: 1px solid #e3e3e3;
}
.pn .pn-con .pn-subtit {
    color: #2b2b2b;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #111;
    margin-bottom: 20px;
}
.pn.type-tit {}
.pn.type-tit .pn-tit {
    border-bottom: 1px solid #e3e3e3;
    padding: 14px 19px;
    height: 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #f9fafc;
    font-size: 15px;
    color: #2b2b2b;
    font-weight: 600;
}
.pn.type-tit .pn-con {
    border-bottom: 1px solid #efeff5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.pn.type-tit .pn-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 48px;
    height: 48px;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    background: none;
}

.pn.type-tit2 {
    border: 0;
}
.pn.type-tit2 .pn-tit {
    border: 1px solid #e1e4e7;
    padding: 14px 19px;
    height: 18px;
    border-radius: 4px;
    background: #f9fafc;
    font-size: 15px;
    color: #2b2b2b;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 1.3;
}
.pn.type-tit2 .pn-con {
    border-bottom: 0;
    padding: 0;
}


.pn.type-acco {}
.pn.type-acco .pn-btn .txt-fold,
.pn.type-acco .pn-btn .txt-unfold {
    background: none;
}
.pn.type-acco .pn-btn .txt-fold {
    /* display: block; */
    display: none;
    width: 24px;
    height: 24px;
    position: relative; right: -7px;
    background: url(../img/icon/ic_arrow_up_black_24.svg) 50% 50% no-repeat;
}
.pn.type-acco .pn-btn .txt-unfold {
    /* display: none; */
    display: block;
    width: 24px;
    height: 24px;
    position: relative; right: -7px;
    background: url(../img/icon/ic_arrow_down_black_24.svg) 50% 50% no-repeat;
}
.pn.type-acco .pn-con {
    display: none;
}
.pn.type-acco.active .pn-btn .txt-fold {
    /* display: none; */
    display: block;
}
.pn.type-acco.active .pn-btn .txt-unfold {
    /* display: block; */
    display: none;
}
.pn.type-acco.active .pn-con {
    display: block;
}
.pn.type-tab {
    border: 0;
}
.pn.type-tab .pn-con {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.pn.type-switching {}
.pn.type-switching .pn-con {
    display: none;
}
.pn.type-switching .pn-con.active {
    display: block;
}
.pn.type-group {
    border: 0;
    padding: 0;
}
.pn.type-keyword {
    border-top: 1px solid #1d1d1d;
    border-radius: 0;
    background: #f9fafc;
    border-left: 0;
    border-right: 0;
}
.pn.type-keyword>.pn-con {
    padding: 10px 12px;
}


.pn.pn-skyblue {
    background: #f9fcff;
    border: 0;
}
.pn.pn-skyblue .tit {
    color: #0d84ff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 19px;
}
.pn.pn-skyblue .tit:first-of-type {
    margin-top: 0;
}
.pn.pn-skyblue .list-d1 {
    color: #666666;    
    font-size: 14px;
    font-weight: 400;
}
.pn.pn-skyblue .list-d1>li {
    position: relative;
    margin-bottom: 12px;
    padding-left: 12px;
    line-height: 1.3;
}
.pn.pn-skyblue .list-d1>li:last-of-type {
    margin-bottom: 0;
}
.pn.pn-skyblue .list-d1>li:after {
    content: "*";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.pn.pn-skyblue .list-d2 {
    font-size: 12px;
    margin-top: 8px;
    
}
.pn.pn-skyblue .list-d2>li {
    position: relative;
    margin-bottom: 8px;    
    padding-left: 8px;
}
.pn.pn-skyblue .list-d2>li:last-of-type {
    margin-bottom: 0;
}
.pn.pn-skyblue .list-d2>li:after {
    content: "-";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.pn.no-bd {
    border: 0;
}

/* Txt&Tit */
.tit {}
.tit-01 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.64px;
  color: #2b2b2b;    
  margin-bottom: 41px;
  line-height: 1.2;
}
.tit-01.with-desc {

}
.tit-01.with-desc>span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #999;
    letter-spacing: 0;
    margin-top: 10px;
}
.tit-02 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: #111;    
  margin-bottom: 16px;
}
.tit-03 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  color: #333;    
  margin-bottom: 8px;
}
.txt-01 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.28px;
  color: #666;    
}
.txt-02 {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  margin-top: 8px; /*temp*/
}
.txt.txt-02>em {
    margin-right: 5px;
    position: relative;
    top: 1px;
}
.tit-01>.txt-02 {
    display: block;
    margin-top: 10px;
}
.txt-guide-positive,
.txt-guide-negative {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
}
.txt-guide-positive {
    color: #0d84ff;
}
.txt-guide-negative {
    color: #ff404e;
}

/* Form  */
/* Input-Text, Email, Passworld */
input, button, textarea {
    outline: 0;
}
.ip-txt {
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* height: 32px; */
    height: 28px;
    padding: 5px;
    color: #333;
    font-size: 13px;
    border-radius: 2px;
}
.ip-txt.is-positive {
    border-color: #0d84ff;
}
.ip-txt.is-negative {
    border-color: #ff404e;
}
.ip-txt::-ms-clear,
.ip-txt::-ms-reveal {
    display: none;
}
.ip-txt[type=number]::-webkit-inner-spin-button, 
.ip-txt[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.ip-txt[readonly] {
    background-color: #f7f7f7;
}
.ip-txt[disabled] {
    color: #ccc;
    background-color: #f7f7f7;
    cursor: not-allowed;
}
.ip-txt::placeholder {
    color: #ccc;
}
.ip-wrap.type-unit {
    position: relative;
    display: inline-block;
}
.ip-wrap.type-unit .ip-txt {
    padding-right: 23px;
    text-align: right;
    width: 100%;
}
.ip-wrap.type-unit .unit {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #333;
}
.ip-wrap.with-icon {
    position: relative;
}
.ip-wrap.with-icon .ip-txt {
    width: 100%;
    padding-right: 29px;
}
.ip-wrap.with-icon .ic {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
}
.recomm-txt-wrap {
    position: relative;
}
.recomm-txt-wrap .recommend-list {
    display: none;
    z-index: 2;
    position: absolute;
    top: 31px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}
.recomm-txt-wrap .recommend-list.active {
    display: block;
}
.recomm-txt-wrap .recommend-list ul li {
    width: 100%;
}
.recomm-txt-wrap .recommend-list ul li>button {
    width: 100%;
    height: 28px;
    text-align: left;
    font-size: 13px;
    color: #666;
    font-weight: 500;
    border: 0;
    background: none;
    cursor: pointer;
}
.recomm-txt-wrap .recommend-list ul li>button:hover {
    background: #f2fdff;
}
.ta-group {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}
.ta-group.readonly {
    background: #f7f7f7;
}
.ta-group .ta-ip {
    border: 0;
    width: 100%;
    /* width: calc(100% - 20px); */
    font-size: 14px;
    line-height: 1.5;
    padding: 0;
    /* padding-right: 23px; */
    color: #333;
    background: none;
    height: 100%;
    resize: none;
}
.ta-group .ta-ip::placeholder {
    color: #ccc;
}
.ta-group.with-counting {
    
}
.ta-group.with-counting .counting {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
    font-weight: 400;
    color: #999;
}

/* Input-Check */
.ip-ch-group {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 15px;
}
.ip-ch-group .ip-ch-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    padding-left: 22px;
    
    /* height: 32px; */
    /* line-height: 32px; */
    
    height: 16px;
    line-height: 16px;

    color: #666;
    font-weight: 500;
}
.ip-ch-group .ip-ch-label .ip-ch {
    position: absolute;
    left: -9999px;
}
.ip-ch-group .ip-ch-label .check {
    position: absolute;
    /* top: 1px; */
    /* top: 45%; */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    /* width: 20px; */
    /* height: 20px; */
    width:  16px;
    height: 16px;
    border: 0;
    background: url(../img/icon/ic_checkbox_16_normal.svg);
}
.ip-ch-group .ip-ch-label .ip-ch:checked+.check {
    background: url(../img/icon/ic_checkbox_16_active.svg);
}
.ip-ch-group .ip-ch-label .ip-ch:disabled+.check {
    background: url(../img/icon/ic_checkbox_16_normal_disabled.svg);
}
.ip-ch-group .ip-ch-label .ip-ch:disabled:checked+.check {
    background: url(../img/icon/ic_checkbox_16_active_disabled.svg);
}
.ip-ch-group .ip-ch-label.no-txt {
    padding: 0;
    width: 16px;
    height: 16px;
}


/* Input-Radio, (Tab Style) */
.ip-rd-group {
    font-size: 0;
}
.ip-rd-group .ip-rd-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 13px;
    padding-left: 22px;
    margin-right: 16px;
    height: 16px;
    line-height: 16px;
    color: #666;
}
.ip-rd-group .ip-rd-label:last-of-type {
    margin-right: 0;
}
.ip-rd-group .ip-rd-label .ip-rd {
    position: absolute;
    left: -9999px;
}
.ip-rd-group .ip-rd-label .check {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border: 0;
    background: url(../img/icon/ic_radio_16_normal.svg);
}
.ip-rd-group .ip-rd-label .ip-rd:checked+.check {
    background: url(../img/icon/ic_radio_16_active.svg);
}
.ip-rd-group .ip-rd-label .ip-rd:disabled+.check {
    background: url(../img/icon/ic_radio_16_normal_disabled.svg);
}
.ip-rd-group .ip-rd-label .ip-rd:checked:disabled+.check {
    background: url(../img/icon/ic_radio_16_active_disabled.svg);
}

/* Select */
.sel {
    position: relative;
}
.sel>select {
    border: 1px solid #ccc;
    height: 28px;
    border-radius: 0px;
    appearance: none;
    padding: 0 27px 0 7px;
    width: 100%;
    cursor: pointer;
    font-size: 13px;
    color: #666;    
    border-radius: 2px;
}
.sel>select::-ms-expand {display:none}
.sel:after {
    display: block;
    width: 28px;
    height: 28px;
    content: "";
    background: url(../img/icon/ic_arrow_down_black_16.svg) no-repeat 50% 50%;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    text-align: center;
    pointer-events: none;
}
.sel>select:focus {}
.sel.disabled:after {
    background-image: url(../img/icon/ic_arrow_down_gray_16.svg);
    
}
.sel>select:disabled {
    border: 1px solid #cccccc;
    background: #f7f7f7;
    color: #cccccc;
    opacity: 1;
}

/* Badge (chip) */
.badge-group {
    font-size: 0;
}
.badge {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    border-radius: 2px;
    height: 28px;
    box-sizing: border-box;
    padding: 6px 8px 5px 8px;
    border-radius: 3px;
    font-size: 13px;    
}
.badge+.badge {
    margin-left: 4px;
}
.badge.badge-round {
    border-radius: 14px;
}
.badge.badge-gray {
    color: #333;
    border: 1px solid #ccc;
    background: #f7f7f7;
}
.badge.badge-gray.badge-del {
    padding-left: 24px !important;
}
.badge.badge-gray.badge-del>button {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    padding: 0;
    border: 0;
    background: url(../img/icon/ic_close_black_16.svg);
    text-indent: -9999px;
    cursor: pointer;
}
.badge.badge-darkblue {
    color: #3a6c98;
    border: 1px solid #3a6c98;
    background: #fff;
}
.badge.badge-darkblue.badge-del {
    padding-left: 24px !important;
}
.badge.badge-darkblue.badge-del>button {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    padding: 0;
    border: 0;
    background: url(../img/icon/ic_clear_gray_12.svg);
    text-indent: -9999px;
    cursor: pointer;
}

/* Breadcrumb */
.breadcrumb {
    font-size: 0;
    height: 18px;
}
.breadcrumb>.item {
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-right: 15px;
    color: #999;
    height: 100%;
    line-height: 18px;
}
.breadcrumb>.item:last-of-type {
    margin-right: 0;
}
.breadcrumb>.item:after {
    position: absolute;
    top: 0px;
    right: -12px;
    content: ">";
}
.breadcrumb>.item:last-of-type::after {
    display: none;
}g
.breadcrumb>.item.home:after {
    text-indent: 0;
}

/* Icon */
.ic {
	position: relative;
	display: inline-block;
	vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*basic icon*/
.ic-calendar {
    width: 16px; 
    height: 16px; 
    background: url(../img/icon/ic_calendar_black_16.svg);
}
/*arr icon*/
.ic-arr-down-black-16{width: 16px; height: 16px; background: url(../img/icon/ic_arrow_down_black_16.svg);}
.ic-arr-up-white-16{width: 16px; height: 16px; background: url(../img/icon/ic_arrow_up_white_16.svg);}
.ic-magnify {width: 16px; height: 16px; background: url(../img/icon/ic_search_black_16.svg);}

/* Buttons, Button group */
.btn-group {
	font-size: 0;
}
.btn {
    white-space: nowrap;
	display: inline-block;
	cursor: pointer;
	border: 0;
	height: 44px;
	line-height: 44px;
	padding: 0 15px;
	font-size: 15px;
	vertical-align: top;
	border-radius: 0;
	text-decoration: none;
}
.btn:disabled {
    cursor: not-allowed;
    /* pointer-events: all !important; */
}
.btn>.icon {
	font-size: 18px;
	margin-right: 5px;
	top: -2px;	
}
.btn-txt {
    background: none;
    line-height: 1;
    color: #3e3e52;
    font-size: 14px;
    font-weight: 600;
    height: auto;
    padding: 0;
    text-decoration: underline;
}
.btn-txt-link {
    background: none;
    line-height: 1;
    color: #0D84FF;
    font-size: 14px;
    font-weight: 600;
    height: auto;
    padding: 0;
    text-decoration: underline;
}
.btn.btn-lb {
    background: #009ab7;
    color: #fff;
}
.btn.btn-lb:hover {
    background: #4EB9CD;
}
.btn.btn-lb:disabled {
    background: #ccc;
}
.btn.btn-lb-outline {
    border: 1px solid #009ab7;
    background: #fff;
    color: #009ab7;
}
.btn.btn-lb-outline:hover {
    background: #EBF7FA;
}
.btn.btn-lb-outline:disabled {
    color: #ccc;
    border: 1px solid #ccc;
    background: #fff;
}
.btn.btn-g-outline {
    border: 1px solid #cccccc;
    background: #fff;
    color: #333;
}
.btn.btn-g-outline:hover {
    background: #f7f7f7;
}
.btn.btn-g-outline:disabled {
    border: 1px solid #ccc;
    color: #ccc;
    background: #fff;
}
.btn.btn-db {
    background: #3a6c98;
    color: #fff;
}
.btn.btn-db:hover {
    background: #769ABA;
}
.btn.btn-db:disabled {
    background: #ccc;
    color: #fff;
}
.btn.btn-db-outline {
    border: 1px solid #3a6c98;
    background: #fff;
    color: #3a6c98;
}
.btn.btn-db-outline:hover {
    background: #ebf7fa;
}
.btn.btn-db-outline:disabled {
    background: #fff;
    border: 1px solid #ccc;
    color: #ccc;
}

.btn-md {
    border-radius: 2px;
    min-width: 44px;
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
}
.btn-md+.btn-md {
    margin-left: 4px;
}

.btn-big {
    border-radius: 2px;
    min-width: 56px;
    width: auto;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
}
.btn-big+.btn-big {
    margin-left: 4px;
}
.btn-big.btn-primary {
    background: #33628b;
    color: #fff;
}
.btn-big.btn-primary:disabled {
    background: #ccc;
    color: #fff;
}
.btn-big.btn-primary-outline {
    color: #33628b;
    background: #fff;
    border: 1px solid #33628b;
}
.btn-big.btn-primary-outline:disabled {
    color: #ccc;
    background: #fff;
    border: 1px solid #ccc;
}
.btn-big.btn-gray {
    color: #333;
    background: #f7f7f7;
    border: 1px solid #ccc;
}
.btn-big.btn-gray:disabled {
    color: #ccc;
    background: #ededed;
}
.btn-big.btn-white{
    color: #2b2b2b;
    background: #fff;
    border: 1px solid #ccc;
}
/*
.btn-sm.btn-white:disabled {
    color: #ccc;
    background: #f7f7f7;
    border: 1px solid #ccc;
}
*/
.btn-exbig {
    border-radius: 4px;
    min-width: 124px;
    width: auto;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 12px;
}
.btn-exbig.btn-primary {
    background: #0f90ab;
    color: #fff;
}
.btn-exbig.btn-white {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
}
.btn-exbig+.btn-exbig {
    margin-left: 20px;
}
.btn-txt {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}
.btn-txt:hover {    
    text-decoration: underline;
}
.btn-txt-b {
    color: #056cb9;
}
.btn-txt-g {
    color: #666;
}

.btn .ic {
    margin-right: 8px;
}
.btn-prev-28,
.btn-next-28 {
    cursor: pointer;
    width: 28px;
    height: 28px;
    border: 0;
    text-indent: -9999px;
}
.btn-prev-28 {
    background: url(../img/icon/ic_arr_left_28_normal.svg) no-repeat 50% 50%;
}
.btn-next-28 {
    background: url(../img/icon/ic_arr_right_28_normal.svg) no-repeat 50% 50%;
}
.btn-prev-28:disabled  {
    background: url(../img/icon/ic_arr_left_28_disabled.svg) no-repeat 50% 50%;
}
.btn-next-28:disabled  {
    background: url(../img/icon/ic_arr_right_28_disabled.svg) no-repeat 50% 50%;
}

.btn.btn-icon {
    display: inline-block;
    width: 28px;    
    height: 28px;
    padding: 0;
    /* border: 1px solid red; */
    background: 50% 50% no-repeat;
    text-indent: -9999px;
}
.btn.icon-download {
    background-image: url(../img/icon/ic_download_black_16.svg);
}


.pop-down {
    position: relative;
}
.pop-down .pop-down-body {
    display: none;
    position: absolute;
    top: 33px;
    left: 0px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 2px;
}
.pop-down.active .pop-down-body {
    display: block;
    width: 260px;
}
.pop-down .pop-down-body ul {

}
.pop-down .pop-down-body ul li {
    border-bottom: 1px solid #ededed;
}
.pop-down .pop-down-body ul li button {
    width: 100%;
    text-align: left;
    border: 0;
    background: none;
    color: #666;
    font-size: 13px;
    font-weight: 500;
    height: 28px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
    cursor: pointer;
    background: url(../img/icon/ic_document_black_16.svg) no-repeat 6px 50%;
    padding-left: 26px;
}
.pop-down .pop-down-body ul li button:hover {
    background-color: #f2fdff;
}

.btn-group.block {
}
.btn-group.block .btn {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
}
.btn-group.block .btn:last-of-type {
    margin-bottom: 0;
}
.btn-group.center {
    text-align: center;
}
.btn-group.right {
    text-align: right;
}

/* Tab */
.tab {
    font-size: 0;
    height: 36px;
}
.tab .item {
    position: relative;
    font-size: 13px;
    color: #ccc;
    font-weight: 600;
    background: #f9fafc;
    border: 0;
    border: 1px solid #e3e3e3;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    height: 100%;
    padding: 0 25px;
}
.tab .item:last-of-type {
    border-right-width: 1px;
}
.tab .item.active {
    color: #3a6c98;
    background: #fff;
}
.tab .item.active:after {
    content: "";   
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: #fff;
}

.tab.type1 {
    
}

.tab.type1.mini {
    border-bottom: 1px solid #e3e3e3;
}
.tab.type1.mini .item {
    font-size: 14px;
    padding: 0;
    height: 48px;
}

/* Alert */
.alert {
    display: none;
    /* position: absolute; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    min-width: 360px;
}
.alert>.inner {
    overflow: hidden;
}
.alert .alert-header {
    border-bottom: 1px solid #e3e3e3;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.alert .alert-header .tit {
    font-size: 17px; 
    color: #333;
    font-weight: 600;
}
.alert .alert-header .btn-close {
    width: 32px;
    height: 32px;
    background: url(../img/icon/ic_close_32_black.svg);
    border: 0;
    text-indent: -9999px;   
    cursor: pointer; 
}
.alert .alert-con {
    text-align: left;
    margin: 24px;
}
.alert.type02 .alert-con {
    margin-top: 40px;
}
.alert .alert-con .txt-01 {
    
}
.alert .alert-footer {
    text-align: center;
    margin: 24px;
}

.alert.active {display: block;}
.alert+.dim {
    display: none;
    /* z-index: 190; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.7;
}
.alert+.dim.active {display: block;}

/* Modal */
.modal {
    display: none;
    /* z-index: 200; */
    /* position: absolute; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%); /*폼테이블 보더탑이 깨지는 현상.*/
    background: #fff;
    min-width: 360px;
    max-height: calc(100vh - 100px);
    /* overflow-y: auto; */
}
.modal>.inner {
    overflow: hidden;
    max-height: calc(100vh - 100px);
}
.modal .modal-header {
    border-bottom: 1px solid #e3e3e3;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.modal .modal-header .tit {
    font-size: 17px; 
    color: #333;
    font-weight: 600;
}
.modal .modal-header .btn-close {
    width: 32px;
    height: 32px;
    background: url(../img/icon/ic_close_32_black.svg);
    border: 0;
    text-indent: -9999px;   
    cursor: pointer; 
}
.modal .modal-con {
    text-align: left;
    /* margin: 24px 24px 9px 24px; */
    padding: 24px 24px 9px 24px;
    max-height: calc(100vh - 246px);
    overflow-y: auto;
    overflow-x: hidden;
}
.modal .modal-footer {
    text-align: center;
    margin: 9px 24px 24px 24px;
}

.modal.active {display: block;}
.modal+.dim {
    display: none;
    /* z-index: 190; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.7;
}
.modal+.dim.active {display: block;}

/*toast*/
.toast {
    /* display: none; */
    display: block;
    position: fixed;
    top: -300px; /* top: 60px; */
    left: 50%;
    transform: translateX(-11%);
    /* z-index: 10; */
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    transition: top 1s;
}
.toast>.inner {
    position: relative;
    z-index: 2;
}
.toast:after {
    z-index: 1;
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
}
.toast.active {
    animation-name: toasting;
    animation-duration: 4s;
}
/*
@keyframes toasting {
  0%   {top: -300px;}
  1%   {top: 0px;}
  7%  {top: 60px;}
  80%  {top: 60px;}
  100%  {top: -300px;}
}
*/
@keyframes toasting {
  0%   {top: -300px;}
  1%   {top: 0px;}
  7%  {top: 140px;}
  80%  {top: 140px;}
  100%  {top: -300px;}
}


/*ETC*/
.line {
    border-top: 1px solid #e3e3e3;
    /* margin-bottom: 30px; */
}
.line.line-111 
.receipt-ui .receipt-ui-footer .tot-menu-price {
    display: flex;
    justify-content: space-between;
}

.keyword-ui {
    border-top: 1px solid #1d1d1d;
}
.keyword-ui .item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #e1e4e7;
}
.keyword-ui .item .keyword-list {

}
.keyword-ui .item .keyword-list .badge-group {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 4px;
}
.keyword-ui .item .keyword-list .badge-group .badge+.badge {
    margin-left: 0 !important;
}
.keyword-ui .item .keyword-add {
    position: relative;
    padding-left: 12px;
    border-left: 1px solid #e3e3e3;
}
.keyword-ui .item .keyword-add>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}