@charset "euc-kr";

/*
    파일 개요
    ---------------------------------------------------------------------
    @ 목적 : [한밭대 산학협력 플랫폼] 테스트 스타일
    @ 작성 : GRIDA Publishing Team.
    @ 최종 : 2023.12.15.00:00
    @ 메모 : 실제 페이지에는 필요없으나, 테스트시 도움을 주는 스타일들이다.
*/

.deco-h2 {
	font-size: 35px;
	font-weight: 600;
	color: hotpink;
	margin-bottom: 20px;
}
.deco-h3 {
	font-size: 20px;
	font-weight: 600; 
	color: hotpink;
	margin-bottom: 10px;
}
.deco-h4 {
	font-size: 13px;
	font-weight: 600; 
	color: hotpink;
	margin-bottom: 5px;
}
