<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Alert</title>
		<link rel="stylesheet" href="../static/css/iucp.css">
		
		<!--[TEST용 CSS]-->
		<!--
		<style>
			.alert {
				position: relative;
				width: 360px;
				transform: translate(0,0);
				top: auto;
				left: auto;
				margin-bottom: 10px;
			}
		</style>
		-->
		<!--//[TEST용 CSS]-->

	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Alert</h2>
			<div class="alert w420 active"> <!--[D]active-->
				<div class="inner">
					<div class="alert-header">
						<p class="tit">알럿트 컴포넌트</p>
						<button class="btn-close" type="button">닫기</button>
					</div>
					<div class="alert-con">
						내용내용
					</div>
					<div class="alert-footer">
						<div class="btn-group right">
							<button class="btn btn-big btn-db" type="button">버튼</button>
							<button class="btn btn-big btn-g-outline" type="button">버튼</button>
						</div>
					</div>
				</div>
			</div>


			<div class="dim active"></div>
			<!--[D]active-->
		</div>
	</body>
</html>