<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Badge</title>
		<link rel="stylesheet" href="../static/css/iucp.css">
	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Badge</h2>

			<br>
			<br>
			<h2 class="deco-h3">기본사이즈(28)</h2>
			<h2 class="deco-h4">gray</h2>
			
			<div class="badge-group">
				<div class="badge badge-gray">뱃지</div>
				<div class="badge badge-gray badge-round">뱃지 라운드</div>
				<div class="badge badge-gray badge-del">뱃지with삭제 <button type="button">삭제</button></div>
			</div>

			<br>
			<h2 class="deco-h4">dark blue</h2>
			<div class="badge-group">
				<div class="badge badge-darkblue">뱃지</div>
				<div class="badge badge-darkblue badge-round">뱃지 라운드</div>
				<div class="badge badge-darkblue badge-del">뱃지with삭제 <button type="button">삭제</button></div>				
				<div class="badge badge-darkblue badge-round badge-del">뱃지 라운드with삭제 <button type="button">삭제</button></div>				
			</div>			

		</div>
	</body>
</html>