<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Breadcrumb</title>
		<link rel="stylesheet" href="../static/css/iucp.css">
	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Breadcrumb</h2>
			<div class="breadcrumb">
				<span class="item">Home</span>
				<span class="item">뎁스2</span>
				<span class="item">뎁스3</span>
			</div>
		</div>
	</body>
</html>