<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Button</title>
		<link rel="stylesheet" href="../static/css/iucp.css">
	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Button</h2>
			
			<!--
			<h3 class="deco-h3">Text Button</h3>
			<div class="btn-group">
				<button class="btn btn-txt" type="button">텍스트 버튼</button>
				<br>
				<button class="btn btn-txt-link" type="button">텍스트 링크 버튼</button>
			</div>
			-->

			<!--
			<h3 class="deco-h3">Big Button(48)</h3>
			<div class="btn-group">
				<button class="btn btn-big btn-primary" type="button">빅버튼</button>
				<button class="btn btn-big btn-primary-outline" type="button">빅버튼</button>
				<button class="btn btn-big btn-gray" type="button">빅버튼</button>
				<button class="btn btn-big btn-gray-outline" type="button">빅버튼</button>
			</div>
			<br>
			<div class="btn-group">
				<button disabled class="btn btn-big btn-primary" type="button">빅버튼</button>
				<button disabled class="btn btn-big btn-primary-outline" type="button">빅버튼</button>
				<button disabled class="btn btn-big btn-gray" type="button">빅버튼</button>
			</div>
			-->

			<!--
			<h3 class="deco-h3">Medium A Button(36)</h3>
			<div class="btn-group">
				<button class="btn btn-md-a btn-primary" type="button">미디엄A버튼</button>
				<button class="btn btn-md-a btn-primary-outline" type="button">미디엄A버튼</button>
				<button class="btn btn-md-a btn-gray" type="button">미디엄A버튼</button>
				<button class="btn btn-md-a btn-gray-outline" type="button">미디엄A버튼</button>
			</div>
			<br>
			<div class="btn-group">
				<button disabled class="btn btn-md-a btn-primary" type="button">미디엄A버튼</button>
				<button disabled class="btn btn-md-a btn-primary-outline" type="button">미디엄A버튼</button>
				<button disabled class="btn btn-md-a btn-gray" type="button">미디엄A버튼</button>
				<button disabled class="btn btn-md-a btn-gray-outline" type="button">미디엄A버튼</button>
			</div>
			<br>
			<div class="btn-group block">
				<button class="btn btn-md-a btn-primary" type="button">미디엄A버튼</button>
				<button class="btn btn-md-a btn-primary-outline" type="button">미디엄A버튼</button>
				<button class="btn btn-md-a btn-gray" type="button">미디엄A버튼</button>
				<button class="btn btn-md-a btn-gray-outline" type="button">미디엄A버튼</button>
			</div>
			-->

			<!--
			<h3 class="deco-h3">Medium B Button(32)</h3>
			<div class="btn-group">
				<button class="btn btn-md-b btn-primary" type="button">미디엄B버튼</button>
				<button class="btn btn-md-b btn-primary-outline" type="button">미디엄B버튼</button>
				<button class="btn btn-md-b btn-gray" type="button">미디엄B버튼</button>
				<button class="btn btn-md-b btn-gray-outline" type="button">미디엄B버튼</button>
			</div>
			<br>
			<div class="btn-group">
				<button disabled class="btn btn-md-b btn-primary" type="button">미디엄B버튼</button>
				<button disabled class="btn btn-md-b btn-primary-outline" type="button">미디엄B버튼</button>
				<button disabled class="btn btn-md-b btn-gray" type="button">미디엄B버튼</button>
				<button disabled class="btn btn-md-b btn-gray-outline" type="button">미디엄B버튼</button>
			</div>

			<br>
			<button class="btn btn-md-b btn-gray-outline" type="button"><i class="ic ic-excel"></i>엑셀 저장</button>
			<button class="btn btn-md-b btn-gray-outline" type="button"><i class="ic ic-down"></i>내려받기</button>
			-->

			<h3 class="deco-h3">Text Button</h3>
			<div class="btn-group">
				<button class="btn btn-txt btn-txt-b" type="button">텍스트 버튼</button> <br>
				<button class="btn btn-txt btn-txt-g" type="button">텍스트 버튼</button>
			</div>			

			<br><br>
			<h3 class="deco-h3">Medium Button(24)</h3>
			<div class="btn-group">
				<button class="btn btn-md btn-lb" type="button">미디엄 버튼</button>
				<button class="btn btn-md btn-lb-outline" type="button">미디엄 버튼</button>
				<button class="btn btn-md btn-g-outline" type="button">미디엄 버튼</button>
				<button class="btn btn-md btn-db" type="button">미디엄 버튼</button>
				<button class="btn btn-md btn-db-outline" type="button">미디엄 버튼</button>
			</div>

			<br>
			<div class="btn-group">
				<button disabled class="btn btn-md btn-lb" type="button">미디엄 버튼</button>
				<button disabled class="btn btn-md btn-lb-outline" type="button">미디엄 버튼</button>
				<button disabled class="btn btn-md btn-g-outline" type="button">미디엄 버튼</button>
				<button disabled class="btn btn-md btn-db" type="button">미디엄 버튼</button>
				<button disabled class="btn btn-md btn-db-outline" type="button">미디엄 버튼</button>
			</div>				

			<br><br>
			<h3 class="deco-h3">Big Button(28)(가장많이쓰임)</h3>
			<div class="btn-group">
				<button class="btn btn-big btn-lb" type="button">빅 버튼</button>
				<button class="btn btn-big btn-lb-outline" type="button">빅 버튼</button>
				<button class="btn btn-big btn-g-outline" type="button">빅 버튼</button>
				<button class="btn btn-big btn-db" type="button">빅 버튼</button>
				<button class="btn btn-big btn-db-outline" type="button">빅 버튼</button>
			</div>

			<br>
			<div class="btn-group">
				<button disabled class="btn btn-big btn-lb" type="button">빅 버튼</button>
				<button disabled class="btn btn-big btn-lb-outline" type="button">빅 버튼</button>
				<button disabled class="btn btn-big btn-g-outline" type="button">빅 버튼</button>
				<button disabled class="btn btn-big btn-db" type="button">빅 버튼</button>
				<button disabled class="btn btn-big btn-db-outline" type="button">빅 버튼</button>
			</div>			

			<br><br>
			<h3 class="deco-h3">Extra Big Button(42)</h3>
			<div class="btn-group">
				<button class="btn btn-exbig btn-lb" type="button">엑스트라 빅 버튼</button>
				<button class="btn btn-exbig btn-g-outline" type="button">엑스트라 빅 버튼</button>
			</div>	

			<br><br>
			<h3 class="deco-h3">Icon Button</h3>
			<button class="btn btn-icon icon-download" type="button">다운</button>
			
			

		

			<!--
			<br>
			<div class="btn-group">
				<button disabled class="btn btn-sm btn-primary" type="button">스몰버튼</button>
				<button disabled class="btn btn-sm btn-primary-outline" type="button">스몰버튼</button>
				<button disabled class="btn btn-sm btn-gray" type="button">스몰버튼</button>
				<button disabled class="btn btn-sm btn-whtie" type="button">스몰버튼</button>
			</div>
			-->
			

			<br>
		</div>
	</body>
</html>