<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Card</title>
		<script src="../static/js/jquery-3.6.0.min.js"></script>
		<script src="../static/js/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="../static/css/jquery-ui.min.css">
		<link rel="stylesheet" href="../static/css/iucp.css">
		
	</head>
	<body>
		<div class="p15">

			<h2 class="deco-h2">Card</h2>
			<h2 class="deco-h3">대시보드 금액카드</h2>
			<div class="card type01">
				<div class="card-tit-desc">
					<p class="card-tit">오늘</p>
					<p class="card-desc">2022.11.30 14:00 기준</p>
				</div>
				<ul class="card-detail">
					<li class="item">
						<span class="tit">판매금액</span>
						<div class="value-group">
							<span class="value fc-5353f4">1,000,000 원</span>
							<span class="slash">/</span>
							<span class="num">100건</span>
						</div>
					</li>
					<li class="item">
						<span class="tit">결제금액</span>
						<div class="value-group">
							<span class="value fc-2cc8ce">1,000,000 원</span>
							<span class="slash">/</span>
							<span class="num">100건</span>
						</div>
					</li>
					<li class="item">
						<span class="tit">상품권 미사용금액</span>
						<div class="value-group">
							<span class="value fc-333">1,000,000 원</span>
							<span class="slash">/</span>
							<span class="num">100건</span>
						</div>
					</li>
				</ul>
			</div>
			<br>
			<br>
			<h2 class="deco-h3">상품권관리 - 사용자 가이드 카드</h2>
			<div class="card type02">
				<div class="badge badge-18 darkgray">가이드</div>
				<p class="card-tit">사용자 가이드 확인하기</p>
				<p class="card-txt"> 상품권 설정이 어려우시다면 <br> 가이드를 통해 천천히 따라해 보세요. </p>
			</div>
			<br>
			<br>
			<h2 class="deco-h3">상품권관리 - 판매금액카드</h2>
			<div class="card type03">
				<div class="card-tit-sw">
					<p class="card-tit"> K푸드(영등포사옥) <i class="ic ic-new-16"></i>
						<!--[D]NEW아이콘-->
					</p>
					<div class="sw-group">
						<label for="sw-1" class="sw-label">
							<input name="sw-1" id="sw-1" class="sw-ip" type="checkbox" value="">
							<span class="check"></span>
						</label>
					</div>
				</div>
				<dl class="card-value">
					<dt class="">이달의 판매금액</dt>
					<dd class="">
						<span class="num">3,000,000</span>
						<span class="unit">원</span>
					</dd>
				</dl>
			</div>
			<br>
			<br>
			<h2 class="deco-h3">카드그룹</h2>
			<div class="card-group">
				<div class="card type03">
					<div class="card-tit-sw">
						<p class="card-tit"> K푸드(영등포사옥) <i class="ic ic-new-16"></i>
							<!--[D]NEW아이콘-->
						</p>
						<div class="sw-group">
							<label for="sw-1" class="sw-label">
								<input name="sw-1" id="sw-1" class="sw-ip" type="checkbox" value="">
								<span class="check"></span>
							</label>
						</div>
					</div>
					<dl class="card-value">
						<dt class="">이달의 판매금액</dt>
						<dd class="">
							<span class="num">3,000,000</span>
							<span class="unit">원</span>
						</dd>
					</dl>
				</div>
				<div class="card type03">
					<div class="card-tit-sw">
						<p class="card-tit"> K푸드(영등포사옥) <i class="ic ic-new-16"></i>
							<!--[D]NEW아이콘-->
						</p>
						<div class="sw-group">
							<label for="sw-1" class="sw-label">
								<input name="sw-1" id="sw-1" class="sw-ip" type="checkbox" value="">
								<span class="check"></span>
							</label>
						</div>
					</div>
					<dl class="card-value">
						<dt class="">이달의 판매금액</dt>
						<dd class="">
							<span class="num">3,000,000</span>
							<span class="unit">원</span>
						</dd>
					</dl>
				</div>
				<div class="card type02">
					<div class="badge badge-18 darkgray">가이드</div>
					<p class="card-tit">사용자 가이드 확인하기</p>
					<p class="card-txt"> 상품권 설정이 어려우시다면 <br> 가이드를 통해 천천히 따라해 보세요. </p>
				</div>
				<div class="card type03">
					<div class="card-tit-sw">
						<p class="card-tit"> K푸드(영등포사옥) <i class="ic ic-new-16"></i>
							<!--[D]NEW아이콘-->
						</p>
						<div class="sw-group">
							<label for="sw-1" class="sw-label">
								<input name="sw-1" id="sw-1" class="sw-ip" type="checkbox" value="">
								<span class="check"></span>
							</label>
						</div>
					</div>
					<dl class="card-value">
						<dt class="">이달의 판매금액</dt>
						<dd class="">
							<span class="num">3,000,000</span>
							<span class="unit">원</span>
						</dd>
					</dl>
				</div>
			</div>

			<br><br>
			<h2 class="deco-h3">소팅카드(type04)</h2>
			<script>
			$( function() {
				$( "#sortable" ).sortable();
				$( "#sortable2" ).sortable();
			} );
			</script>			

			<br><br>
			<div class="card-group-sorting" id="sortable2"> <!--[D]#sortable-->
				<div class="card type04 type04-02">
					<button class="btn-grab" type="button">손잡이</button>
					<div class="tit-txt-price">
						<p class="tit">
							아메리카노
						</p>
					</div>
					<div class="menu-root">
						<button class="btn-more" type="button">더보기</button>
						<div class="menu-body active"> <!--[D]active-->
							<div class="menu-item">메뉴 수정</div>
							<div class="menu-item">메뉴 삭제</div>
						</div>
					</div>
				</div>
				<div class="card type04 type04-02">
					<button class="btn-grab" type="button">손잡이</button>
					<div class="tit-txt-price">
						<p class="tit">
							시그니처 커피
						</p>
					</div>
					<div class="menu-root">
						<button class="btn-more" type="button">더보기</button>
						<div class="menu-body">
							<div class="menu-item">메뉴 수정</div>
							<div class="menu-item">메뉴 삭제</div>
						</div>
					</div>
				</div>
				<div class="card type04 type04-02">
					<button class="btn-grab" type="button">손잡이</button>
					<div class="tit-txt-price">
						<p class="tit">
							디저트
						</p>
					</div>
					<div class="menu-root">
						<button class="btn-more" type="button">더보기</button>
						<div class="menu-body">
							<div class="menu-item">메뉴 수정</div>
							<div class="menu-item">메뉴 삭제</div>
						</div>
					</div>
				</div>				                        
			</div>

			<br><br>
			<div class="card-group-sorting" id="sortable"> <!--[D]#sortable-->
				<div class="card type04">
					<button class="btn-grab" type="button">손잡이</button>
					<!-- <img class="pic" src="https://picsum.photos/68/68" alt=""> -->

					<div class="pic">
						<img class="pic-img" src="https://picsum.photos/68/68" alt="">  
						<div class="pic-state">
							<span>품절</span>
							<!-- <span>숨김</span> -->
						</div>
					</div>
					<div class="tit-txt-price">
						<p class="tit">
							아메리카노
							<span class="badge badge-18 black">대표</span>
						</p>
						<p class="txt">최고급 원두로 만든 아메리카노입니다. 시나몬 돌체 파우더 커피만의 달콤하고 향긋한 시나몬 풍미를 경험해보세요!</p>
						<p class="price">4,000 원</p>
					</div>
					<div class="sel w120">
						<select name="" id="" class="">
							<option value="0">품절</option>
							<option value="1">활성화</option>
							<option value="2">숨김</option>
						</select>
					</div>
					<div class="menu-root">
						<button class="btn-more" type="button">더보기</button>
						<div class="menu-body active"> <!--[D]active-->
							<div class="menu-item">메뉴 수정</div>
							<div class="menu-item">메뉴 삭제</div>
						</div>
					</div>
				</div>
				<div class="card type04">
					<button class="btn-grab" type="button">손잡이</button>
					<div class="pic">
						<img class="pic-img" src="https://picsum.photos/68/68" alt="">  
						<!--
						<div class="pic-state">
							<span>품절</span>
							<span>숨김</span>
						</div>
						-->
					</div>
					<div class="tit-txt-price">
						<p class="tit">아메리카노</p>
						<p class="txt">최고급 원두로 만든 아메리카노입니다. 시나몬 돌체 파우더 커피만의 달콤하고 향긋한 시나몬 풍미를 경험해보세요!</p>
						<p class="price">4,000 원</p>
					</div>
					<div class="sel w120">
						<select name="" id="" class="">
							<option value="0">품절</option>
							<option value="1">활성화</option>
							<option value="2">숨김</option>
						</select>
					</div>
					<div class="menu-root">
						<button class="btn-more" type="button">더보기</button>
						<div class="menu-body">
							<div class="menu-item">메뉴 수정</div>
							<div class="menu-item">메뉴 삭제</div>
						</div>
					</div>

				</div>     
				<div class="card type04">
					<button class="btn-grab" type="button">손잡이</button>
					<div class="pic">
						<img class="pic-img" src="https://picsum.photos/68/68" alt="">  
						<!--
						<div class="pic-state">
							<span>품절</span>
							<span>숨김</span>
						</div>
						-->
					</div>
					<div class="tit-txt-price">
						<p class="tit">아메리카노</p>
						<p class="txt">최고급 원두로 만든 아메리카노입니다. 시나몬 돌체 파우더 커피만의 달콤하고 향긋한 시나몬 풍미를 경험해보세요!</p>
						<p class="price">4,000 원</p>
					</div>
					<div class="sel w120">
						<select name="" id="" class="">
							<option value="0">품절</option>
							<option value="1">활성화</option>
							<option value="2">숨김</option>
						</select>
					</div>					
					<div class="menu-root">
						<button class="btn-more" type="button">더보기</button>
						<div class="menu-body">
							<div class="menu-item">메뉴 수정</div>
							<div class="menu-item">메뉴 삭제</div>
						</div>
					</div>
				</div>                            
			</div>			

			<br><br>
			<div class="card-group d-block">
				<div class="card type05">
					<button class="btn-remove" type="button">삭제</button>
					<p class="card-tit">기본</p>
					<p class="card-txt1">Hot (+0원), Ice(+0원)</p>
					<div class="card-txt2">
						<div class="badge badge-18 black">연결메뉴</div>
						<p>아메리카노, 바닐라라떼</p>
					</div>
				</div>
				<div class="card type05">
					<button class="btn-remove" type="button">삭제</button>
					<p class="card-tit">기본</p>
					<p class="card-txt1">Hot (+0원), Ice(+0원)</p>
					<div class="card-txt2">
						<div class="badge badge-18 black">연결메뉴</div>
						<p>아메리카노, 바닐라라떼</p>
					</div>
				</div>
			</div>

			<br><br>
			<!--type-check-->
			<div class="card-group d-block">
				<div class="card type05 type-check">
					<!-- <button class="btn-remove" type="button">삭제</button> -->
          <label for="pnch-01" class="ip-check-label">
            <input name="pnch" id="pnch-01" class="ip-ch" type="checkbox">
            <span class="check"></span>
          </label>   					
					<p class="card-tit">기본</p>
					<p class="card-txt1">Hot (+0원), Ice(+0원)</p>
					<div class="card-txt2">
						<div class="badge badge-18 black">연결메뉴</div>
						<p>아메리카노, 바닐라라떼</p>
					</div>
				</div>
				<div class="card type05 type-check">
					<!-- <button class="btn-remove" type="button">삭제</button> -->
          <label for="pnch-02" class="ip-check-label">
            <input name="pnch" id="pnch-02" class="ip-ch" type="checkbox">
            <span class="check"></span>
          </label>   					
					<p class="card-tit">기본</p>
					<p class="card-txt1">Hot (+0원), Ice(+0원)</p>
					<div class="card-txt2">
						<div class="badge badge-18 black">연결메뉴</div>
						<p>아메리카노, 바닐라라떼</p>
					</div>
				</div>
			</div>			

			<br><br>
			<h2 class="deco-h3">type06</h2>
			<div class="card type06">
				<div class="td-item-group left gap4 mb12">
					<p class="card-tit td-item">주문번호 M777777777</p>
					<div class="badge badge-18 purple td-item">포장</div>
					<!-- <div class="badge badge-18 green td-item">배달</div> -->
				</div>
				<!--
				<div class="td-item-group left gap24">
					<p class="card-txt1 td-item">
						<i></i>
						아메리카노 외 <em>10개</em>
					</p>
				</div>				
				-->
				<div class="td-item-group left gap24">
					<p class="card-txt1 td-item">
						<i></i>
						아메리카노 외 <em>10개</em>
					</p>
					<p class="card-txt2 td-item">
						고객 대기시간 <em>50분</em>
					</p>
				</div>
				<div class="card-state">제조완료</div>
				<!-- <div class="card-state">대기</div> -->
			</div>		



		</div>
	</body>
</html>