<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Icon</title>
		<link rel="stylesheet" href="../static/css/iucp.css">
		
		<!--[TEST용 CSS]-->
		<style>
			body {
				background: #89aab7;
			}
			.ic, img {
				border: 1px dashed red;
			}
		</style>
		<!--//[TEST용 CSS]-->

	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Icon</h2>
			<h3 class="deco-h3">Logo</h3>
			<img src="../static/img/logo/hanbat_logo.svg">
			<img src="../static/img/logo/hanbat_logo_white.svg">

			<br>
			<br>
			<h3 class="deco-h3">Basic Icon</h3>
			<img src="../static/img/icon/ic_u_login.svg" alt="">
			<img src="../static/img/icon/ic_u_logout.svg" alt="">
			<img src="../static/img/icon/ic_u_search.svg" alt="">
			<br>
			<img src="../static/img/icon/ic_calendar_black_16.svg" alt="">
			<img src="../static/img/icon/ic_clear_gray_12.svg" alt="">
			<img src="../static/img/icon/ic_close_black_16.svg" alt="">

			<img src="../static/img/icon/ic_search_black_16.svg" alt="">
			<img src="../static/img/icon/ic_document_black_16.svg" alt="">

			<img src="../static/img/icon/ic_download_black_16.svg" alt="">


			<br>
			<br>
			<h3 class="deco-h3">Arrow Icon</h3>
			<h3 class="deco-h4">16</h3>
			<img src="../static/img/icon/ic_arrow_down_black_16.svg" alt="">
			<img src="../static/img/icon/ic_arrow_up_white_16.svg" alt="">

			<br>
			<br>
			<h3 class="deco-h4">24</h3>
			<img src="../static/img/icon/ic_arrow_down_black_24.svg" alt="">
			<img src="../static/img/icon/ic_arrow_up_black_24.svg" alt="">


			<br>
			<br>
			<h3 class="deco-h3">Pagi Icon (12)</h3>
			<img src="../static/img/icon/ic_arrow_back_gray_12.svg" alt="">
			<img src="../static/img/icon/ic_arrow_left_gray_12.svg" alt="">
			<img src="../static/img/icon/ic_arrow_right_gray_12.svg" alt="">
			<img src="../static/img/icon/ic_arrow_forward_gray_12.svg" alt="">
			<br>
			<img src="../static/img/icon/ic_arrow_back_blue_12.svg" alt="">
			<img src="../static/img/icon/ic_arrow_left_blue_12.svg" alt="">
			<img src="../static/img/icon/ic_arrow_right_blue_12.svg" alt="">
			<img src="../static/img/icon/ic_arrow_forward_blue_12.svg" alt="">			
									
			<br>
			<br>
			<h3 class="deco-h3">Input Icon</h3>
			<h3 class="deco-h4">Toggle</h3>
			<img src="../static/img/icon/ic_toggle_normal.svg">
			<img src="../static/img/icon/ic_toggle_active.svg">

			<h3 class="deco-h4">Checkbox</h3>
			<img src="../static/img/icon/ic_checkbox_16_normal.svg">
			<img src="../static/img/icon/ic_checkbox_16_active.svg">
			<img src="../static/img/icon/ic_checkbox_16_normal_disabled.svg">
			<img src="../static/img/icon/ic_checkbox_16_active_disabled.svg">

			<h3 class="deco-h4">Radio</h3>
			<img src="../static/img/icon/ic_radio_16_normal.svg">
			<img src="../static/img/icon/ic_radio_16_active.svg">
			<img src="../static/img/icon/ic_radio_16_normal_disabled.svg">
			<img src="../static/img/icon/ic_radio_16_active_disabled.svg">

			<!-- <img src="../static/img/icon/ic_checkbox_black_normal.svg"> -->
			<!-- <img src="../static/img/icon/ic_checkbox_black_disabled.svg"> -->

			<!-- <img src="../static/img/icon/ic_select_active_normal.svg"> -->
			<!-- <img src="../static/img/icon/ic_select_active_disabled.svg"> -->
		</div>
	</body>
</html>