<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Input</title>
		<script src="../static/js/jquery-3.6.0.min.js"></script>
		<script src="../static/js/datepicker.min.js"></script>		
		<script src="../static/js/datepicker.ko-KR.js"></script>
		<link rel="stylesheet" href="../static/css/datepicker.min.css">
		<link rel="stylesheet" href="../static/css/iucp.css">
	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Input</h2>
			<h3 class="deco-h3">Input - Text</h3>
			<h4 class="deco-h4">기본</h4>
			<input name="" id="" class="ip-txt w100p" type="text" value="" placeholder="text">
			<br>
			<br>

			<h4 class="deco-h4">검사</h4>
			<input name="" id="" class="ip-txt w100p is-positive" type="text" value="가이드문구-긍정" placeholder="text"> <!--[D]is-positive-->
			<span class="txt-guide-positive">인증 완료 되었습니다.</span>
			<br>

			<input name="" id="" class="ip-txt w100p is-negative" type="text" value="가이드문구-부정" placeholder="text"> <!--[D]is-negative-->
			<span class="txt-guide-negative">필수 입력값입니다.</span>
			<br>
			<br>			


			<h4 class="deco-h4">단위(Unit)</h4>
			<div class="ip-wrap type-unit ta-right">
				<input name="" id="" class="ip-txt w100" type="text" value="" placeholder="New">
				<span class="unit">원</span>
			</div>

			<br>
			<br>
			<h4 class="deco-h4">with Icon</h4>


			<!-- 달력 -->
			<div class="ip-wrap with-icon ta-left w120">
				<input name="" id="" class="ip-txt" type="text" value="2022-11-11" placeholder="">
				<i class="ic ic-calendar"></i>
			</div>
			<!-- 돋보기 -->
			<div class="ip-wrap with-icon ta-left w120">
				<input name="" id="" class="ip-txt" type="text" value="" placeholder="검색">
				<i class="ic ic-magnify"></i>
			</div>

			<br>
			<br>

			<h4 class="deco-h4">type</h4>
			<input name="" id="" class="ip-txt w473" type="number" value="" placeholder="number">
			<br>
			<br>
			<input name="" id="" class="ip-txt w100" type="email" value="" placeholder="email">
			<br>
			<br>
			<input name="" id="" class="ip-txt w100" type="password" value="" placeholder="password">
			<br>
			<br>

			<h4 class="deco-h4">불능,리드온리</h4>
			<input disabled="disabled" name="" id="" class="ip-txt w100" type="text" value="불능" placeholder="text">
			<br>
			<br>
			<input readonly="readonly" name="" id="" class="ip-txt w100" type="text" value="리드온리" placeholder="text">
			<br>
			<br>
			
			<h4 class="deco-h4">데이트픽커 스크립트 작업</h4>
			<!--
				https://fengyuanchen.github.io/datepicker/
			-->
			<div class="ip-wrap with-icon ta-left w120">
				<input data-toggle="datepicker" name="" id="" class="ip-txt" type="text" value="2022-11-11" placeholder="">
				<i class="ic ic-calendar"></i>
			</div>			

			<script>
				$(document).ready(function(){
					$('[data-toggle="datepicker"]').datepicker({
						language: 'ko-KR',
						format: 'yyyy-mm-dd'
					});									
				})
			</script>			

			<br><br>
			<h3 class="deco-h3">TextArea</h3>
			<div class="ta-group">
				<textarea class="ta-ip" placeholder="Expose the placeholder. blahblah..."></textarea>
			</div>

			<br><br>
			<div class="ta-group gray h200 readonly"> <!--[D]readonly-->
				<textarea readonly class="ta-ip" placeholder="Expose the placeholder. blahblah...">리드온리</textarea> <!--[D]readonly-->
			</div>	
			
			<br><br>
			<div class="ta-group gray with-counting h200">
				<textarea class="ta-ip" placeholder="Expose the placeholder. blahblah...">카운팅</textarea>
				<span class="counting">10/200</span>
			</div>					
			<br>
			<br>
			<h3 class="deco-h3">Check</h3>
			<div class="ip-ch-group">
				<label for="ch-1-1" class="ip-ch-label">
					<input name="ch-1" id="ch-1-1" class="ip-ch" type="checkbox" value="">
					<span class="check"></span> 첵박 </label>
				<label for="ch-1-2" class="ip-ch-label">
					<input name="ch-1" id="ch-1-2" class="ip-ch" type="checkbox" value="" checked>
					<!--checked-->
					<span class="check"></span> 첵박
				</label>
				<label for="ch-1-3" class="ip-ch-label">
					<input name="ch-1" id="ch-1-3" class="ip-ch" type="checkbox" value="" disabled>
					<!--disabled-->
					<span class="check"></span> 첵박
				</label>
				<label for="ch-1-4" class="ip-ch-label">
					<input name="ch-1" id="ch-1-4" class="ip-ch" type="checkbox" value="" checked disabled>
					<!--checked && disabled-->
					<span class="check"></span> 첵박
				</label>
			</div>
			<br>
			<br>
			<h3 class="deco-h3">Radio</h3>
			<div class="ip-rd-group">
				<label for="rd-1-1" class="ip-rd-label">
					<input name="rd-1" id="rd-1-1" class="ip-rd" type="radio" value="">
					<span class="check"></span> 라됴 </label>
				<label for="rd-1-2" class="ip-rd-label">
					<input name="rd-1" id="rd-1-2" class="ip-rd" type="radio" value="" checked>
					<span class="check"></span> 라됴 </label>
				<label for="rd-1-3" class="ip-rd-label">
					<input name="rd-1" id="rd-1-3" class="ip-rd" type="radio" value="" disabled>
					<span class="check"></span> 라됴 </label>
				<label for="rd-1-4" class="ip-rd-label">
					<input name="rd-1" id="rd-1-4" class="ip-rd" type="radio" value="" checked disabled>
					<span class="check"></span> 라됴 </label>
			</div>
			<br>
			<br>

			<br><br>
			<h3 class="deco-h3">Select - Basic</h3>
			<div class="sel w120">
				<select name="" id="" class="">
					<option value="0">선택하세요</option>
					<option value="1">1번</option>
					<option value="2">2번</option>
				</select>
			</div>
			<br>
			<div class="sel disabled w120">
				<select disabled name="" id="" class="">
					<option value="0">선택하세요</option>
					<option value="1">1번</option>
					<option value="2">2번</option>
				</select>
			</div>
			<br>
			<br>
			<h3 class="deco-h3">가로배치 (TD-ITEM)</h3>
			
			<div class="td-item-group left gap4">
				<input name="" id="" class="td-item ip-txt w100" type="text" value="" placeholder="text">
				<div class="td-item sel w100">
					<select name="" id="" class="">
						<option value="0">선택하세요</option>
						<option value="1">1번</option>
						<option value="2">2번</option>
					</select>
				</div>
				<span class="td-item fs-12 fw-600 pl20 pr10">등록일자</span>
				<input name="" id="" class="td-item ip-txt w100" type="text" value="" placeholder="text">
				<span class="td-item">-</span>
				<input name="" id="" class="td-item ip-txt w100" type="text" value="" placeholder="text">
				<button class="td-item btn btn-big btn-lb" type="button">검색</button>
			</div>

			<br>
			<br>
			<!-- search-pannel -->

		</div>
	</body>
</html>