<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Keyword</title>
		<link rel="stylesheet" href="../static/css/iucp.css" />
		<script src="../static/js/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Keyword</h2>
			
			
			<div class="keyword-ui">
				<div class="item">
					<div class="keyword-list">
						<div class="badge-group gap4">
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>				
						</div>
					</div>
					<div class="keyword-add">
						<div class="td-item-group left gap4">
							<input name="" id="" class="td-item ip-txt w220" type="text" value="" placeholder="관련 검색어 입력 후 엔터">	
							<button class="btn btn-big btn-g-outline" type="button">관련 키워드 추가</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="keyword-list">
						<div class="badge-group gap4">
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>				
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>				
						</div>
					</div>
					<div class="keyword-add">
						<div class="td-item-group left gap4">
							<input name="" id="" class="td-item ip-txt w220" type="text" value="" placeholder="관련 검색어 입력 후 엔터">	
							<button class="btn btn-big btn-g-outline" type="button">관련 키워드 추가</button>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="keyword-list">
						<div class="badge-group gap4">
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>				
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>				
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>				
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>				
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>				
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>				
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>				
							<div class="badge badge-darkblue badge-round badge-del">CHAT GPT <button type="button">삭제</button></div>																									
						</div>
					</div>
					<div class="keyword-add">
						<div class="td-item-group left gap4">
							<input name="" id="" class="td-item ip-txt w220" type="text" value="" placeholder="관련 검색어 입력 후 엔터">	
							<button class="btn btn-big btn-g-outline" type="button">관련 키워드 추가</button>
						</div>
					</div>
				</div>				
			</div>

		</div>
	</body>
</html>