<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Layout</title>
		<link rel="stylesheet" href="../static/css/iucp.css">
		<!--Test-->
		<style>
			.layout {
				outline: 1px dashed red;
				margin-bottom: 15px;
			}

			.layout .row .col:nth-of-type(1) {
				background: #F23D5E;
			}

			.layout .row .col:nth-of-type(2) {
				background: #0B2240;
			}

			.layout .row .col:nth-of-type(3) {
				background: #F2A766;
			}

			.layout .row .col:nth-of-type(4) {
				background: #163A59;
			}

			.layout .row .col:nth-of-type(5) {
				background: #D96248;
			}

			.layout .row .col {
				color: #fff;
				font-weight: 900;
			}
		</style>
		<!--//Test-->
	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Layout-Row-Col</h2>
			<h3 class="deco-h3">1분할</h3>
			<div class="layout">
				<div class="row">
					<div class="col col-10"> 10 </div>
				</div>
			</div>
			<h3 class="deco-h3">2분할</h3>
			<div class="layout">
				<div class="row">
					<div class="col col-9"> 9 </div>
					<div class="col col-1"> 1 </div>
				</div>
			</div>
			<div class="layout">
				<div class="row">
					<div class="col col-8"> 8 </div>
					<div class="col col-2"> 2 </div>
				</div>
			</div>
			<div class="layout">
				<div class="row">
					<div class="col col-7"> 7 </div>
					<div class="col col-3"> 3 </div>
				</div>
			</div>
			<div class="layout">
				<div class="row">
					<div class="col col-7"> 6 </div>
					<div class="col col-3"> 4 </div>
				</div>
			</div>
			<div class="layout">
				<div class="row">
					<div class="col col-5"> 5 </div>
					<div class="col col-5"> 5 </div>
				</div>
			</div>
			<h3 class="deco-h3">3분할</h3>
			<div class="layout">
				<div class="row three">
					<div class="col"> 3.33 </div>
					<div class="col"> 3.33 </div>
					<div class="col"> 3.33 </div>
				</div>
			</div>

			<h3 class="deco-h3">etc.</h3>
			<div class="layout">
				<div class="row liquid">
					<div class="col col-auto"> 9 </div>
					<div class="col w390"> 1 </div>
				</div>
			</div>			

			<h3 class="deco-h3">Helper-Padding을 선언하여 활용</h3>
			<div class="layout">
				<div class="row">
					<div class="col col-7 p15"> 7 </div>
					<div class="col col-3 p15"> 3 </div>
				</div>
			</div>
		</div>
	</body>
</html>