<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Modal</title>
		<link rel="stylesheet" href="../static/css/iucp.css">
	</head>
	<body>
		
		<!--[TEST용 CSS]-->
		<style>
			/*
			.modal, .modal.type-mini {
				position: relative;
				transform: translate(0, 0);
				top: auto;
				left: auto;
				margin-bottom: 10px;
			}
			*/
		</style>
		<!--//[TEST용 CSS]-->
		
		<div class="p15">
			<h2 class="deco-h2">Modal</h2>

			<div class="modal w620 active"> <!--[D]active-->
				<div class="inner">
					<div class="modal-header">
						<p class="tit">모달 컴포넌트</p>
						<button class="btn-close" type="button">닫기</button>
					</div>
					<div class="modal-con">
						내용내용
					</div>
					<div class="modal-footer">
						<div class="btn-group right">
							<button class="btn btn-big btn-g-outline" type="button">버튼</button>
							<button class="btn btn-big btn-g-outline" type="button">버튼</button>
						</div>
					</div>
				</div>
			</div>

			<div class="dim active"></div><!--[D]active-->

		</div>
	</body>
</html>