<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pagi</title>
		<link rel="stylesheet" href="../static/css/iucp.css">
	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Pagi</h2>
			
			<h2 class="deco-h3">Normal</h2>
			
			<div class="pagi">
				<div class="group">
					<button type="button" class="item first">처음</button>
					<button type="button" class="item prev">이전</button>
				</div>
				<div class="group">
					<button type="button" class="item">1</button>
					<button type="button" class="item active">2</button>
					<button type="button" class="item">3</button>
					<button type="button" class="item">4</button>
					<button type="button" class="item">5</button>
					<button type="button" class="item">99</button>
					<button type="button" class="item">999</button>
					<button type="button" class="item">9999</button>
				</div>
				<div class="group">
					<button type="button" class="item last">끝</button>
					<button type="button" class="item next">다음</button>
				</div>
			</div>

			<!--
			<br><br>
			<h2 class="deco-h3">IBSheet Pagi</h2>

			<div id="pageNavi" class="pagi-ib">
				<ul class="pagination pagination-sm">
					<li class="first"><a href="#">≪</a></li>
					<li class="prev"><a href="#">?</a></li>
					<li class="page"><a href="#">10</a></li>
					<li class="page"><a href="#">11</a></li>
					<li class="page active"><a href="#">12</a></li>
					<li class="page"><a href="#">13</a></li>
					<li class="page"><a href="#">14</a></li>
					<li class="next"><a href="#">?</a></li>
					<li class="last"><a href="#">≫</a></li>
				</ul>
			</div>			
			-->

		</div>
	</body>
</html>