<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pannel</title>
		<link rel="stylesheet" href="../static/css/iucp.css" />
		<script src="../static/js/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Pannel</h2>
			<h3 class="deco-h3">단순 그루핑 패널</h3>
			<div class="pn type-group">
				<p class="txt-01">단순한 그루핑 역할.</p>
			</div>

			<br>
			<br>
			<h3 class="deco-h3">기본 패널</h3>
			<div class="pn">
				<div class="pn-con">
					<p class="pn-subtit">패널속 타이틀</p>
					<p class="txt-01">평범한 패널</p>
				</div>				
			</div>

			<br>
			<br>
			<h3 class="deco-h3">키워드 패널</h3>
			<div class="pn type-keyword">
				<div class="pn-con">
					<p class="txt-01">키워드 패널(?)</p>
				</div>				
			</div>			

			<br>
			<br>			
			<h3 class="deco-h3">제목이 있는 패널</h3>
			<div class="pn type-tit">
				<div class="pn-tit">기업 수요 접수내역</div>
				<div class="pn-con">
					<p class="txt-01">타이틀과 함께</p>
				</div>
			</div>

			<br>
			<br>					
			<h3 class="deco-h3">제목이 있는 패널2 (컨텐츠영역 박스없이)</h3>
			<div class="pn type-tit2">
				<div class="pn-tit">기업 수요 접수내역</div>
				<div class="pn-con">
					<p class="txt-01" style="background: pink;">타이틀과 함께</p>
				</div>
			</div>			

			<br>
			<br>			
			<h3 class="deco-h3">제목, 접기 버튼이 있는 패널(스크립트 작업)</h3>
			<script>
				// 정의
				var acco = function(accoRoot) {
					var E = {};
					E.root = $('.' + accoRoot);
					//E.item = E.root.find('.item');
					E.ctr = E.root.find('.my-acco-ctr');
					E.target = E.root.find('.my-acco-con');
					E.ctr.each(function(n) {
						var nb = n;
						var that = $(this);
						that.on('click', function() {
							if (!that.parent('.my-acco').hasClass('active')) {
								that.parent('.my-acco').addClass('active');
							} else {
								that.parent('.my-acco').removeClass('active');
							}
						})
					});
				};
				// 호출
				$(document).ready(function() {
					acco('my-acco');
				});
			</script>			
			<div class="pn type-tit type-acco my-acco"> <!--[D]active:펼쳐진 상태-->
				<div class="pn-tit">누르면 접거나 펼칩니다.</div>
				<button class="pn-btn my-acco-ctr" type="button">
					<span class="txt-fold">접기</span>
					<span class="txt-unfold">펼치기</span>
				</button>
				<div class="pn-con my-acco-con">
					<p class="txt-01">누르면 접거나 펼칩니다.</p>
				</div>
			</div>		
			<div class="pn type-tit type-acco my-acco active"> <!--[D]active:펼쳐진 상태-->
				<div class="pn-tit">누르면 접거나 펼칩니다.2</div>
				<button class="pn-btn my-acco-ctr" type="button">
					<span class="txt-fold">접기</span>
					<span class="txt-unfold">펼치기</span>
				</button>
				<div class="pn-con my-acco-con">
					<p class="txt-01">누르면 접거나 펼칩니다.2</p>
				</div>
			</div>				

			<br>
			<br>			
			<h3 class="deco-h3">패널 분할</h3>
			<div class="pn">
				<div class="pn-con">

					<!--[D]분할컴포넌트(layout.html) 사용-->
					<div class="layout">
						<div class="row">
							<div class="col col-5 pr20">
								<p class="txt-01">분할패널왼쪽분할패널왼쪽분할패널왼쪽분할패널왼쪽분할패널왼쪽분할패널왼쪽</p>
							</div>
							<div class="col col-5 pl20">
								<p class="txt-01">분할패널오른쪽분할패널오른쪽분할패널오른쪽분할패널오른쪽분할패널오른쪽분할패널오른쪽</p>
							</div>
						</div>
					</div>			
					<!--//[D]분할컴포넌트(layout.html) 사용-->

				</div>
			</div>

			<br>
			<br>			
			<h3 class="deco-h3">탭이 있는 패널</h3>
			<h3 class="deco-h4">탭이 있는 패널 (탭만 작동)</h3>

			<script>
				// 정의
				var tabber = function(tabberRoot) {
					var E = {};
					E.root = $('.' + tabberRoot);
					E.ctr = E.root.find('.tab .item');
					E.ctr.each(function(n) {
						var nb = n;
						var that = $(this);
						that.on('click', function() {
							E.ctr.removeClass('active');
							that.addClass('active');
						})
					});
				};
				// 호출
				$(document).ready(function() {
					tabber('my-tab');
				});
			</script>			
			<div class="pn type-tab my-tab">
				<!--[D]탭 컴포넌트(tab.html) 사용-->
				<div class="tab type1">
					<button class="item" type="button">매핑 대상자 조회</button>
					<button class="item active" type="button">성명/학과 대상자조회</button>
					<button class="item" type="button">매칭 진행 상태 조회</button>
				</div>				
				<!--//[D]탭 컴포넌트(tab.html) 사용-->
				<div class="pn-con">
					<p class="pn-subtit">패널속 타이틀</p>
					<p class="txt-01">평범한 패널</p>
				</div>				
			</div>

			<h3 class="deco-h4">탭이 있는 패널 (탭과 하단 컨텐츠 스위칭까지)</h3>

			<script>
				// 정의
				var tabSwitcher = function(tabSwitcherRoot) {
					var E = {};
					E.root = $('.' + tabSwitcherRoot);
					E.ctr = E.root.find('.tab .item');
					E.target = E.root.find('.pn-con-group .pn-con');
					E.ctr.each(function(n) {
						var nb = n;
						var that = $(this);
						that.on('click', function() {
							E.ctr.removeClass('active');
							that.addClass('active');
							E.target.removeClass('active');
							E.target.eq(nb).addClass('active');
						})
					});
				};
				// 호출
				$(document).ready(function() {
					tabSwitcher('my-tab-switching');
				});
			</script>				
			<div class="pn type-tab type-switching my-tab-switching">
				<div class="tab type1">
					<button class="item" type="button">매핑 대상자 조회</button>
					<button class="item active" type="button">성명/학과 대상자조회</button> <!--[D]active-->
					<button class="item" type="button">매칭 진행 상태 조회</button>
				</div>				
				<div class="pn-con-group">
					<div class="pn-con">
						<p class="pn-subtit">패널속 타이틀 1</p>
						<p class="txt-01">평범한 패널</p>
					</div>
					<div class="pn-con active"> <!--[D]active-->
						<p class="pn-subtit">패널속 타이틀 2</p>
						<p class="txt-01">평범한 패널</p>
					</div>					
					<div class="pn-con">
						<p class="pn-subtit">패널속 타이틀 3</p>
						<p class="txt-01">평범한 패널</p>
					</div>					
				</div>
			</div>			
			
			<br>
			<br>			
			

		</div>
	</body>
</html>