<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tab</title>
		<link rel="stylesheet" href="../static/css/iucp.css">
	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Tab</h2>
			<h2 class="deco-h3">기본형(Type1)</h2>
			<div class="tab type1">
				<button class="item" type="button">매핑 대상자 조회</button>
				<button class="item active" type="button">성명/학과 대상자조회</button>
				<button class="item" type="button">매칭 진행 상태 조회</button>
			</div>

			<br>
			<br>
			<br>

			<!--
			<div class="td-item-group bbccc">
				<div class="tab type1 no-bd td-item">
					<button class="item" type="button">전체 매출</button>
					<button class="item active" type="button">키오스크(신용카드) 매출</button>
					<button class="item" type="button">비플오더(신용카드, 비플머니) 매출</button>
				</div>
				<div class="td-item-group td-item">
					<div class="ip-wrap with-icon ta-left w200 td-item">
						<input name="" id="" class="ip-txt" type="text" value="" placeholder="검색어를 입력해주세요.">
						<i class="ic ic-search-14"></i>
					</div>
					<button class="btn btn-md-b btn-gray-outline td-item" type="button"><i class="ic ic-excel"></i>엑셀 저장</button>                      			
					<button class="btn btn-md-b btn-primary td-item ml0" type="button">환불신청</button>
				</div>					
			</div>
			-->

			<!--
			<br><br>
			<h2 class="deco-h3">미니(type1 X mini)</h2>
			<div class="tab type1 mini">
				<button class="item" type="button">전체 매출</button>
				<button class="item active" type="button">키오스크(신용카드) 매출</button>
				<button class="item" type="button">비플오더(신용카드, 비플머니) 매출</button>
			</div>
			-->

			<!--
			<h2 class="deco-h3">Type2 (line)</h2>
			<div class="tab type2">
				<button class="item" type="button">Tab1</button>
				<button class="item active" type="button">Tab2</button>
				<button class="item" type="button">Taaaaaaaaaaaaaaaaaaaaaab3</button>
				<button class="item" type="button">Tab4</button>
			</div>
			-->
		</div>
	</body>
</html>