<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="euc-kr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Table</title>
		<link rel="stylesheet" href="../static/css/iucp.css">
	</head>
	<body>
		<div class="p15">
			<h2 class="deco-h2">Table</h2>
			<h3 class="deco-h3">Basic Table</h3>
			<div class="data-table-top">
				<p class="tit-02 mb0">표 제목</p>
				<div class="tg-group">
					<label for="tg-1-1" class="tg-label">
						<input name="tg-1" id="tg-1-1" class="tg-ip" type="radio" value="">
						<span class="txt">ON</span>
					</label>
					<label for="tg-1-2" class="tg-label">
						<input name="tg-1" id="tg-1-2" class="tg-ip" type="radio" value="" checked="">
						<span class="txt">OFF</span>
					</label>
				</div>
			</div>
			<table class="data-table">
				<caption>표 제목</caption>
				<colgroup>
					<col width="100px">
					<col width="200px">
					<col width="">
				</colgroup>
				<thead>
					<tr>
						<th class="ta-left" scope="col">제목</th>
						<th class="ta-center" scope="col">제목</th>
						<th class="ta-right" scope="col">제목</th>
					</tr>
				</thead>
				<tbody>
					<tr class="active">
						<!--[D]active-->
						<td class="ta-left">내용</td>
						<td class="ta-center">내용</td>
						<td class="ta-right">
							
						</td>
					</tr>
					<tr>
						<td>내용</td>
						<td>내용</td>
						<td>내용</td>
					</tr>
				</tbody>
			</table>
			
			<div class="pagi">
				<div class="group">
					<button type="button" class="item first">처음</button>
					<button type="button" class="item prev">이전</button>
				</div>
				<div class="group">
					<button type="button" class="item">1</button>
					<button type="button" class="item active">2</button>
					<button type="button" class="item">3</button>
					<button type="button" class="item">4</button>
					<button type="button" class="item">5</button>
					<button type="button" class="item">99</button>
					<button type="button" class="item">999</button>
					<button type="button" class="item">9999</button>
				</div>
				<div class="group">
					<button type="button" class="item last">끝</button>
					<button type="button" class="item next">다음</button>
				</div>
			</div>

			<br>
			<br>
			<br>
			<h3 class="deco-h3">Scroll X</h3>
			<div class="data-table-wrap w500">
				<table class="data-table">
					<!-- <caption>표 제목</caption> -->
					<colgroup>
						<col width="100px">
						<col width="200px">
						<col width="">
					</colgroup>
					<thead>
						<tr>
							<th class="ta-left" scope="col">제목</th>
							<th class="ta-center" scope="col">제목</th>
							<th class="ta-right" scope="col">제목</th>
						</tr>
					</thead>
					<tbody>
						<tr class="active">
							<!--[D]active-->
							<td class="ta-left">내용</td>
							<td class="ta-center">내용</td>
							<td class="ta-right">
								
							</td>
						</tr>
						<tr>
							<td>내용</td>
							<td>내용</td>
							<td>내용</td>
						</tr>
					</tbody>
				</table>				
			</div>

			<br>
			<br>
			<br>
			<h3 class="deco-h3">Scroll Y</h3>			
			<div class="data-table-wrap-y w500 h300">
				<table class="data-table">
					<!-- <caption>표 제목</caption> -->
					<colgroup>
						<col width="">
					</colgroup>
					<thead>
						<tr>
							<th class="ta-left" scope="col">제목</th>
						</tr>
					</thead>
					<tbody>
						<tr class="">
							<td class="ta-left">Scroll Y</td>
						</tr>
						<tr class="">
							<td class="ta-left">Scroll Y</td>
						</tr>
						<tr class="">
							<td class="ta-left">Scroll Y</td>
						</tr>
						<tr class="">
							<td class="ta-left">Scroll Y</td>
						</tr>
						<tr class="">
							<td class="ta-left">Scroll Y</td>
						</tr>
						<tr class="">
							<td class="ta-left">Scroll Y</td>
						</tr>
						<tr class="">
							<td class="ta-left">Scroll Y</td>
						</tr>
						<tr class="">
							<td class="ta-left">Scroll Y</td>
						</tr>
						<tr class="">
							<td class="ta-left">Scroll Y</td>
						</tr>
						<tr class="">
							<td class="ta-left">Scroll Y</td>
						</tr>																																																						
					</tbody>
				</table>				
			</div>



				


			<br>
			<br>
			<br>			
			<h3 class="deco-h3">Form Table - Basic</h3>
			<table class="data-table form-table">
				<!-- <caption>표 제목</caption> -->
				<colgroup>
					<col width="120px">
					<col width="">
				</colgroup>
				<tbody>
					<tr>
						<th class="ta-left required">사업자번호</th>
						<!--[D]required-->
						<td class="ta-left">내용</td>
					</tr>
					<tr>
						<th class="ta-left">기업형</th>
						<td class="ta-left">내용</td>
					</tr>
					<tr>
						<th class="ta-left">제목</th>
						<td class="ta-right">내용</td>
					</tr>
					<tr>
						<th class="ta-left">제목</th>
						<td class="ta-right">내용</td>
					</tr>
				</tbody>
			</table>
		
		
		</div>
	</body>
</html>